<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QA_Pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterMember</display-name>
    <servlet-name>RegisterMember</servlet-name>
    <servlet-class>com.qapro.register.RegisterMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMember</servlet-name>
    <url-pattern>/RegisterMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidation</display-name>
    <servlet-name>EmailValidation</servlet-name>
    <servlet-class>com.qapro.register.EmailValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidation</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.qapro.login.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>CheckUtenteLoggato</display-name>
    <servlet-name>CheckUtenteLoggato</servlet-name>
    <servlet-class>com.qapro.login.CheckUtenteLoggato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUtenteLoggato</servlet-name>
    <url-pattern>/CheckUtenteLoggato</url-pattern>
  </servlet-mapping>
  <servlet>
  	
    <description></description>
    <display-name>inseriscirisposta</display-name>
    <servlet-name>inseriscirisposta</servlet-name>
    <servlet-class>com.qapro.login.inseriscirisposta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inseriscirisposta</servlet-name>
    <url-pattern>/inseriscirisposta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMembers</display-name>
    <servlet-name>GetMembers</servlet-name>
    <servlet-class>com.qapro.login.GetMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMembers</servlet-name>
    <url-pattern>/GetMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberManagementServlet</display-name>
    <servlet-name>MemberManagementServlet</servlet-name>
    <servlet-class>com.qapro.servlets.MemberManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberManagementServlet</servlet-name>
    <url-pattern>/MemberManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQuestion</display-name>
    <servlet-name>DisplayQuestion</servlet-name>
    <servlet-class>com.qapro.servlets.DisplayQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuestion</servlet-name>
    <url-pattern>/DisplayQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VotingServlet</display-name>
    <servlet-name>VotingServlet</servlet-name>
    <servlet-class>com.qapro.servlets.VotingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingServlet</servlet-name>
    <url-pattern>/Voting</url-pattern>
  </servlet-mapping>
  
  	<servlet>
    <description></description>
    <display-name>VotingServletAnswer</display-name>
    <servlet-name>VotingServletAnswer</servlet-name>
    <servlet-class>com.qapro.servlets.VotingServletAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotingServletAnswer</servlet-name>
    <url-pattern>/VotingAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllQuestions</display-name>
    <servlet-name>DisplayAllQuestions</servlet-name>
    <servlet-class>com.qapro.servlets.DisplayAllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllQuestions</servlet-name>
    <url-pattern>/DisplayAllQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.qapro.login.Logout</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
   <description></description>
  
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.qapro.servlets.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SelectAllQuestion</display-name>
    <servlet-name>SelectAllQuestion</servlet-name>
    <servlet-class>com.qapro.servlets.SelectAllQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllQuestion</servlet-name>
    <url-pattern>/SelectAllQuestion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SelectAllQuestionByDate</display-name>
    <servlet-name>SelectAllQuestionByDate</servlet-name>
    <servlet-class>com.qapro.servlets.SelectAllQuestionByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllQuestionByDate</servlet-name>
    <url-pattern>/SelectAllQuestionByDate</url-pattern>
  </servlet-mapping>
  
    <servlet>
        <servlet-name>MainMenu</servlet-name>
        <servlet-class>com.qapro.entity.MainMenu</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainMenu</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReqPass</servlet-name>
        <servlet-class>com.qapro.login.ReqPass</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReqPass</servlet-name>
        <url-pattern>/ReqPass</url-pattern>
    </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CheckLoginFb</display-name>
    <servlet-name>CheckLoginFb</servlet-name>
    <servlet-class>com.qapro.login.CheckLoginFb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginFb</servlet-name>
    <url-pattern>/CheckLoginFb</url-pattern>
  </servlet-mapping>
  
  
    <!-- Session settings -->

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  
  
  <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>fewcharts@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>forzaromas1984</param-value>
    </context-param>
 
   
</web-app>